body {
  min-height: 900px;
  padding-top: 0px;
  padding-bottom: 0px;
      
}
.navbar-static-top {
  margin-bottom: 19px;
  background-color: #0C3C26;
  color: white;
}
.navbar-default {
  border-color: #285D1E;
}


.navbar-default .navbar-brand {
    color: #FFFBFB;
}